<html>
  <head>
    <title>System statistics information</title>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
  </head>
  <body>
    <h1>System stats</h1>
    <%= yield %>
  </body>
</html>
