body {
    background: #cc9;
    font-family: sans-serif;
}
table {
    background: #9c6;
}
tr:first-child {
    background: #330;
    color: #fff;
    font-weight: 600;
}
td {
    padding: 4px;
}
tr:first-child td {
    padding: 8px 10px 2px 4px;
}
form {
    margin: 10px 0 0 0;
}
input[type=submit] {
    padding: 6px;
    font-weight: 600;
    font-size: 1em;
}
